<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand center" href="#/profile">
        Brand Goes Here
      </a>
    </div>
</nav>

<div class="container-fluid choose-skill"> 
  <h1>Choose A Skill</h1>
  <p class="lead">Click the image of your desired repo skill.</p>
</div>
<div class="container-fluid skills-list">

  <div class="row">

    <div class="col-xs-4 col-md-2 col-lg-2">

      <a href="#/culinaryrepo">
      Image Here
      <h4>Culinary</h4>
      </a>

    </div>

  </div>

</div>