<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand center" href="#/">
        Brand Goes Here
      </a>
    </div>
</nav>

<h2 class="text-center">Recipe</h2>

<div class="container-fluid">

  <form class="form-horizontal">

    <div class="form-group">

      <label for="inputNameRecipe" class="col-sm-2 control-label">Name</label>

      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Chicken Parm" ng-model="recipeName">
      </div>

    </div>

    <div class="form-group">

      <label for="inputCuisine" class="col-sm-2 control-label">Cuisine</label>

      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Cajun" ng-model="cuisineName">
      </div>

    </div>

    <div class="form-group">

      <label for="inputIngredients" class="col-sm-2 control-label">Ingredients</label>

      <div class="col-sm-10 container-ingredient">

        <div class="input-group">
          <input type="text" class="form-control ingredient-name" placeholder="Celery 1/4 Cup">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addIngredient()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
          </span>
        </div><!-- /input-group -->

      </div>

    </div>

    <div class="form-group">

      <label for="inputUtensils" class="col-sm-2 control-label">Utensils</label>

      <div class="col-sm-10 container-technique">

        <div class="input-group">
          <input type="text" class="form-control utensilName" placeholder="12-inch non-stick skillet">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addUtensil()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
          </span>
        </div><!-- /input-group -->

      </div>

    </div>

    <div class="form-group">

      <label for="inputCookingInstructions" class="col-sm-2 control-label">Instructions</label>

      <div class="col-sm-10">
        <textarea class="form-control" ng-model="cookingInstructions"></textarea>
      </div>

    </div>

  </form>

</div>

<h2 class="text-center">Techniques</h2>

<div class="container-fluid">

  <form class="form-horizontal">

    <div class="form-group">

      <label for="inputTechniqueName" class="col-sm-2 control-label">Name</label>

      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Quick Pickle" ng-model="techniqueName">
      </div>

    </div>

    <div class="form-group">

      <label for="inputDifficulty" class="col-sm-2 control-label">Difficulty</label>

      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Novice, Experienced, Professional" ng-model="difficutly">
      </div>

    </div>

    <div class="form-group">

      <label for="inputTechniqueInstructions" class="col-sm-2 control-label">Instructions</label>

      <div class="col-sm-10">
        <textarea class="form-control" ng-model="techniqueInstructions"></textarea>
      </div>

    </div>

    <div class="form-group">

      <div class="col-sm-10 choose-availability1 text-center">
        
        <div class="radio">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          <label>
            <input type="radio" name="repo-availability">Public
          </label>

        </div>
      </div>
      <div class="col-sm-10 choose-availability2 text-center">
        <div class="radio">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          <label>
            <input type="radio" name="repo-availability">Private
          </label>
        </div>
      </div>

    </div>

  </form>

</div>




<div class="container-fluid text-right">
  <button class="btn btn-primary" ng-click="saveAndClear()">Create Another Repo</button>
  <button class="btn btn-primary" ng-click="createToProfile()">Create and Go To Profile</button>
  <button class="btn btn-primary" ng-click="createToCulPort">Create and Go To Culinary Portfolio</button>
</div>