<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/#" class="navbar-brand" >Brand Goes Here</a>
    </div>
    <h1 class="username center">{{data.userName}}</h1>
</nav>
<div class="container-fluid">
  <div class="row">
    <img src="img/chef.jpg" class="col-xs-4 col-md-4 col-lg-4">
    <div class="profile-container">
     <h3>About Me:</h3>
      <p>{{data.about}}</p>
      <h3>Business Info:</h3>
      <p>{{data.business}}</p>
    </div>
  </div>
  <div class="row">
    <a href="#/chooseskill" class="btn btn-primary col-xs-4 col-md-4 col-lg-4">Create Skill Repo</a>
    <div class="sidebar-container col-xs-4 col-md-4 col-lg-4" ng-controller="ProfileSidebarCtrl" ng-include="template.url"></div>
  </div>
  
</div>

