<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        Brand Goes Here
      </a>
    </div>
    <h1 class="username center">{{name}}</h1>
</nav>
<div class="container-fluid">
  <img src="img/chef.jpg">
  <a href="#/repo" class="btn btn-primary">Create Skill Repo</a>
  <div class="profile-container">
    <h3>About Me:</h3>
    <p>{{about}}</p>
    <h3>Business Info:</h3>
    <p>{{business}}</p>
  </div>
</div>

